#store-title {

    display: flex;
    position: relative;
    padding: 0.5rem 0;
    height: 5%;
    width: 100%;
    color: whitesmoke;
    align-items: center;
    justify-content: center;
    z-index: 1;
    
}

#store-title > h2 {
    font-size: 1.7rem;
}



#store-upgrade-container{

    display: flex;
    position: relative;
    height: 8vh;
    /* height: max-content; */
    width: 100%;
    flex-wrap: wrap;
    
}

.upgrade-container{

    display: flex;
    position: relative;
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url('/assets/upgrade/frame/availableUpgradeFrame.png');
    height: 8vh; 
    width: calc(100% / 5);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    z-index: 2;
    cursor: pointer;
}

.upgrade-container:nth-child(n + 6){
    display: none;
}

.upgrade-container:hover{
    background-image: url('/assets/upgrade/frame/hoverUpgradeFrame.png');
}

#store-upgrade-container:hover .upgrade-container:nth-child(n + 6){
    display: flex;
}

.upgrade-unavailable{
    background-image: url('/assets/upgrade/frame/unavailableUpgradeFrame.png');
}

.upgrade-unavailable:hover{
    background-image: url('/assets/upgrade/frame/unavailableUpgradeFrame.png');
}


.upgrade-container > img{

    margin: auto;
    scale: 0.85;
}


#store-building-container{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    padding: 1%;
}

.store-building{

    display: flex; 
    position: relative;
    width: 100%;
    height: 8vh;
    background-image: url("/assets/utils/buttonTile.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; 
    z-index: 5;
    cursor: pointer;
}

.store-building:hover{
    box-shadow: inset 0 0 20px 2px rgba(255, 255, 255, 0.8); 
}

.store-building > .store-building-body {
    display: flex;
    flex-direction: column;
    padding: 4% 2%;
    color: whitesmoke;
    font-size: clamp(1vw, 0.8rem, 2rem); 
    justify-content: space-around;
}

.store-building-body h2 {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.store-building-price h4{
    white-space: nowrap;
    font-size: max(0.75vw, 12px)
}

.store-building img {
    width: 21%;
    height: auto;
}

.store-building-body > .store-building-price{
    display: flex;
    align-items: center;
    font-size: medium;
    text-shadow: 2px 1px 2px rgba(0, 0, 0, 0.5);
}

.store-building-price img {
    width: 1rem;
    height: auto;
    margin-right: 4%;
}

.store-building-quantity{
    margin-left: auto;
    align-self: center;
    margin-right: 8%;
    font-size: 2.5rem;
    color: #6f6d5d;

    
}

.unavailable{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.hidden{
    display: none;
}

#store-info {

    display: none;
    flex-direction: column;
    position: absolute;
    width: 20.5rem;
    height: max-content;
    border: 2px solid burlywood;
    background-color: #28282B;
    left: -23.25rem;
    top: 20%;
    z-index: 2000;
    outline-style: groove;
    padding: 0.75rem;
}

#store-info-header{

    display: flex;
    height: 40%;
    width: 100%;
    color: whitesmoke;
    margin-bottom: 0.5rem;
    align-items: center;
}

#store-info-header > #store-info-img {
  
    width: auto;
    height: 100%;
    object-fit: contain;
    object-position: center;
    margin: auto 0;
    margin-right: 0.5rem;
}

#store-info-header > #store-info-header-text-container{

    display: flex;
    flex-direction: column;
    height: 100%;
    width: fit-content;
}

#store-info-title{
    font-size: medium;
    text-shadow : 0 0 10px white;
    margin-bottom: 0.25rem;
}

#store-info-type{
    font-size: xx-small;
    color: black;
    padding: 0.2rem;
    background-color: gainsboro;
    border-radius: 5px;
    width: fit-content;
}

#store-info-header > #store-info-price-container{

    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: auto;
}

#store-info-price {

    margin-left: 2px;
    font-size: small;
    white-space: nowrap;
}


#store-info > #store-info-body{
    display: flex;
    flex-direction: column;
    font-size: small;
    margin: 0.5rem 0.25rem;
}

#store-info-desc{
    color: rgb(173, 168, 168);
    font-size: 12px;
}

#store-info-flavor{
    font-size: 0.85rem;
    color: gray;
    font-style: italic;
    font-weight: 550;
    font-family: serif;
    margin-left: auto;
    text-align: end;
}

#store-info-decor{
    color: gray;
    font-size: x-small;
    font-weight: bold;
    margin: 0.5rem auto 0 auto;

}

#store-info-building{

    display: flex;
    width: 100%;
}

#store-info-building > ul {
    
    width: 100%;
    margin: 0 0.5rem 0 1rem;
    list-style-type: disc; 
    list-style-position: outside;
}

#store-info-building > ul > li{

    width: 100%;
    font-size: medium;
    color: rgb(173, 168, 168);
    background-color: rgba(220, 220, 220, 0.1);
    border-radius: 5px;
    margin-top: 5px;
}

#store-info-building > ul > li > span{
    font-size: x-small;
    padding-left: 7.5px;
    
}